<!--The header section of the page-->
<header class="round">
	<nav class="top-bar round">
			<ul class="title-area">
			<!--Title Area-->
			<li class="name">
				<h3><%= link_to "  MovieMania", root_path %> </h3>
			</li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown">
					<%= link_to "Movies", movies_path %>
					<ul class="dropdown">
						<li><%= link_to "Now Showing", '#' %></li>
						<li><%= link_to "Coming Soon", '#' %></li>
					</ul>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to "Schedule", schedule_path %>
				</li>
			</ul>
		</section>

	</nav>

	<div class="row top1">
		<div class="twelve columns top round">
				<%= link_to image_tag("logo.png", :alt=> "MovieMania", :class => "round", :width => 150, :height => 100, :caption => "MovieMania"), root_path %>
				<p>
				The home of movies. The home of movies. The home of movies.
				</p>
		</div>
	</div>
	<hr />


</header>
